*.log
*.pot
*.pyc
.idea/*
*migrations*
contacts/migrations/0001_initial.py
projects/migrations/0001_initial.py
.idea/inspectionProfiles/profiles_settings.xml
.idea/LassondeProjectsInventory.iml
.idea/LassondeProjectsInventory.iml
.env
env

