<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}
  {% load bootstrap5 %}
  {% block content %}
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        padding: 2px;
        text-align: center;
      }

      .del {
        display: none
      }


    </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'homepage'%}">LIS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="{% url 'homepage' %}" class="btn btn-dark btn-block btn-sm m-1">Home</a>
              </li>
          <li class="nav-item">
            <a href="{% url 'projects:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Projects</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contacts:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Industry Partners</a>    
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> {% endcomment %}
        </ul>
        <span class="navbar-text">
            <b>Logged in as: {{request.user}}</b>
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Logout</a>
        </span>
      </div>
    </div>
  </nav>
    <h1>Industry Partner List</h1>

    {% if industry_partners_list %}
    <table>
      <tr>
        <th>IP ID</th>
        <th>IP Name</th>
        <th>Address</th>
        <th>Website</th>
        <th>Phone #</th>
          <th>Email</th>
        <th>Type</th>
        <th>Date Joined</th>
        <th>Status</th>
      </tr>
      {% for partner in industry_partners_list %}
      <tr style="">
        <td>{{partner.id}}</td>
        <td>{{partner.name}}</td>
        <td>{{partner.address}}</td>
        <td>{{partner.website}}</td>
        <td>{{partner.phone_number}}</td>
        <td>{{partner.email}}</td>
          <td>{{partner.type}}</td>
          <td>{{partner.date_joined}}</td>
          <td>{{partner.status}}</td>
          <td><a href="{% url 'contacts:edit' partner.id %}">Edit</a></td>
        <td>

          <form method="post" action="{% url 'contacts:delete' partner.id %}">
            {% csrf_token %}
            <input type="Submit" value="Delete" class="btn btn-danger"/>
          </form>
        </td>
      </tr>

      {% endfor %}
    </table>
    {% else %}
    <p>No Industry Partners Added.</p>
    {% endif %}

    <a href="{% url 'contacts:add' %}" class="btn btn-dark btn-block btn-sm m-1">New Industry Partner</a>
    <a href="{% url 'homepage' %}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
    {% endblock content %}
</html>