<html>
    {% extends "base.html" %}
    {% load bootstrap5 %}
    {% block content %}
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    {% block content %}
      <div class="container">
        <div class="row my-5">
          <div class="col-md-12">

            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
            
            {% if form.is_bound %}
              <h1>Edit Faculty</h1>
            {% else %}
              <h1>Add Faculty</h1>
            {% endif %}

            <form method="post">
              {% csrf_token %} 
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary btn-block btn-sm m-1">Save</button>
            </form>
            <a href="{% url 'faculty:list' %}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
          </div>
        </div>
      </div>
    {% endblock content %}
</html>
