<html>
  {% extends "base.html" %}
  {% load bootstrap5 %}
  {% block content %}
    <style>
      table,
      th,
      td {
        border: 1px solid grey;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'homepage'%}">LIS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a href="{% url 'homepage' %}" class="btn btn-dark btn-block btn-sm m-1">Home</a>
                </li>
            <li class="nav-item">
              <a href="{% url 'projects:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Projects</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'contacts:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Industry Partners</a>    
            </li>
            <li class="nav-item">
              <a href="{% url 'capstones:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Capstones</a>    
            </li>
            <li class="nav-item">
              <a href="{% url 'faculty:list' %}" class="btn btn-dark btn-block btn-sm m-1">View Faculty</a>    
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> {% endcomment %}
          </ul>
          <span class="navbar-text">
              <b>Logged in as: {{request.user}}</b>
              <a href="{% url 'login' %}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Logout</a>
          </span>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row my-5">
        <div class="col-md-12">
          <h1>Faculty List</h1>
          <form method="GET" action="{% url 'faculty:list'%}">
            {% csrf_token %} 
            <div class="fieldWrapper">
              {% for field in filter_form %}
                  {{ field.errors }}
              {% endfor %}
              <h5>Filter By</h5>
              <div class = "form-group">
                <label>Name:</label> {{filter_form.name}}
                <label>Role:</label> {{filter_form.role}}
                <label>Department:</label> {{filter_form.department}}
                <label>Fields of Interest:</label>{{filter_form.fields_of_interest}}
                <input type="submit" value = "Apply" class="btn btn-primary"/>
              </div>
            </div>

          </form>
          {% if faculty_list %}
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Department</th>
                <th>Fields of Interest</th>
                <th colspan="3"> </th>
              </tr>
            </thead>
            <tbody>
              {% for fac in faculty_list %}
              <tr>
                <td>{{fac.id}}</td>
                <td>{{fac.name}}</td>
                <td>{{fac.role}}</td>
                <td>{{fac.get_department_display}}</td>
                <td>{{fac.fields_of_interest}}</td>
                <td><a href="{% url 'faculty:details' fac.id %}">Details</a></td>
                <td><a href="{% url 'faculty:edit' fac.id %}">Edit</a></td>
                <td>
                  <form method="post" action="{% url 'faculty:delete' fac.id %}">
                    {% csrf_token %}
                    <input type="Submit" value="Delete" class="btn btn-danger"/>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No faculty available</p>
          {% endif %}

          <a href="{% url 'faculty:add' %}" class="btn btn-dark btn-block btn-sm m-1">New Faculty</a>
          <a href="{% url 'homepage' %}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
        </div>
      </div>
    </div>
    {% endblock content %}
</html>
