<html>
  {% extends "base.html" %}
  {% block content %}
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <h1>Add a new engineering discipline or UN Development Goal</h1>

    <form method="post">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit" class="btn btn-primary btn-block btn-sm m-1">Save</button>
    </form>
    <a href="{% url 'projects:settings' %}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
    {% endblock content %}
</html>
