<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Project List</h1>

    {% if project_list %}
    <table>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Field</th>
        <th>Type</th>
        <th>Date Proposed</th>
        <th>Status</th>
        <th>Date Complete</th>
      </tr>
      {% for proj in project_list %}
      <tr>
        <td>{{proj.id}}</td>
        <td>{{proj.name}}</td>
        <td>{{proj.get_field_display}}</td>
        <td>{{proj.get_type_display}}</td>
        <td>{{proj.date_proposed}}</td>
        <td>{{proj.get_status_display}}</td>
        <td>{{proj.date_complete}}</td>
        <td><a href="{% url 'projects:detail' proj.id %}">Details</a></td>
      </tr>

      {% endfor %}
    </table>
    {% else %}
    <p>No projects available.</p>
    {% endif %}

    <a href="{% url 'projects:add' %}">New Project</a>

    <form action="{% url 'projects:delete'%}" method="post">
      {% csrf_token %}
      <input type="text" id="proj_id" name="proj_id" /><br />
      <input type="submit" value="Delete Project" />
    </form>
  </body>
</html>
