<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Project List</h1>
    <a href="{% url 'projects:settings' %}">Project Field Settings</a>
    {% if project_list %}
    <table>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Discipline</th>
        <th>Type</th>
        <th>Date Proposed</th>
        <th>Status</th>
        <th>Date Complete</th>
      </tr>
      {% for proj in project_list %}
      <tr>
        <td>{{proj.id}}</td>
        <td>{{proj.name}}</td>
        <td>{{proj.get_disciplines|linebreaks}}</td>
        <td>{{proj.get_type_display}}</td>
        <td>{{proj.date_proposed}}</td>
        <td>{{proj.get_status_display}}</td>
        <td>{% firstof proj.date_complete 'Not Completed'%}</td>
        <td><a href="{% url 'projects:detail' proj.id %}">Details</a></td>
        {% comment "Delete Button WIP" %}
        <td>
          <form method="delete">
            <input type="hidden" value="{{proj.id}}" name="delete_proj">
            <input type="Submit">Delete</button>
          </form>
        </td>
        {%endcomment%}
      </tr>

      {% endfor %}
    </table>
    {% else %}
    <p>No projects available.</p>
    {% endif %}

    <a href="{% url 'projects:add' %}">New Project</a>
  </body>
</html>
