<html>
  {% extends "base.html" %}
  {% load bootstrap5 %}
  {% block content %}
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
      <div class="container">
        <div class="row my-5">
          <div class="col-md-12">

            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
            
            {% if form.instance.pk is None %}
              <h1>Add an award given out during Capstone</h1>
            {% else %}
              <h1>Edit an award given out during Capstone</h1>
            {% endif %}

            <form method="post">
              {% csrf_token %} 
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary btn-block btn-sm m-1">Save</button>
            </form>
            {% if form.instance.pk is not None %}
                <form method="post" action="{% url 'capstones:delete_award' form.instance.capstone form.instance.id %}">
                  {% csrf_token %}
                  <input type="Submit" value="Delete" class="btn btn-danger btn-block btn-sm m-1 float-end"/>
                </form>
            {% endif %}

            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
          </div>
        </div>
      </div>
    {% endblock content %}
</html>