<html>
  <head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <style>
      table,
      th,
      td {
        border: 1px solid grey;
      }
    </style>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="row my-5">
        <div class="col-md-12">
          <h1>Capstone Years</h1>
          {% if capstone_list %}
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Professors</th>
                <th>TAs</th>
                <th>Capstone Day Date</th>
                <th>Location</th>
                <th colspan="3"> </th>
              </tr>
            </thead>
            <tbody>
              {% for c in capstone_list %}
              <tr>
                <td>{{c.starting_year}}</td>
                <td>{% firstof c.get_staff_list|linebreaks 'None' %}</td>
                <td>{% firstof c.get_ta_list|linebreaks 'None' %}</td>
                <td>{% firstof c.capstone_day 'No date set' %}</td>
                <td>{{c.capstone_day_location}}</td>
                <td><a href="{% url 'capstones:details' c.starting_year %}">Details</a></td>
                <td><a href="{% url 'capstones:edit' c.starting_year %}">Edit</a></td>
                <td>
                  <form method="post" action="{% url 'capstones:delete' c.starting_year %}">
                    {% csrf_token %}
                    <input type="Submit" value="Delete" class="btn btn-danger"/>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No Capstones available</p>
          {% endif %}

          <a href="{% url 'capstones:add' %}" class="btn btn-dark btn-block btn-sm m-1">New Capstone</a>
          <a href="{% url 'homepage' %}" class="btn btn-dark btn-block btn-sm m-1">Back</a>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
